<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    کوویدکاوی
</font>
</h1>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
در این تمرین می‌خواهیم داده‌های مربوط به وضعیت کووید-۱۹ در کشورهای مختلف جهان در یک روز از سال ۲۰۲۰ را کمی تحلیل کنیم و با پاسخ دادن به پرسش‌هایی از آن با کتابخانه‌ی <code>pandas</code> بیشتر کار کنیم.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مجموعه‌داده‌
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
ابتدا داده‌ها را از فایل <code>covid19-11-10-2020.csv</code> بخوانید و در متغیر <code>covid_data</code> ذخیره کنید.
</font>
</p>

In [1]:
import pandas as pd

In [26]:
url = 'https://raw.githubusercontent.com/hnni-sahar/Quera-Data-Analysis-Journey/main/Python-Covid/covid19-11-10-2020.csv'
covid_data = pd.read_csv(url)
covid_data.head()

,Unnamed: 0,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,0,NaN,NaN,NaN,Afghanistan,2020-11-11 05:25:30,33.93911,67.709953,42297,1574,34954.0,5769.0,Afghanistan,108.653487,3.721304
1,1,NaN,NaN,NaN,Albania,2020-11-11 05:25:30,41.15330,20.168300,25294,579,12353.0,12362.0,Albania,878.935298,2.289080
2,2,NaN,NaN,NaN,Algeria,2020-11-11 05:25:30,28.03390,1.659600,63446,2077,42626.0,18743.0,Algeria,144.685270,3.273650
3,3,NaN,NaN,NaN,Andorra,2020-11-11 05:25:30,42.50630,1.521800,5477,75,4405.0,997.0,Andorra,7088.591212,1.369363
4,4,NaN,NaN,NaN,Angola,2020-11-11 05:25:30,-11.20270,17.873900,12816,308,6036.0,6472.0,Angola,38.994388,2.403246

In [27]:
covid_data1= covid_data.copy()

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
    <font face="vazir" size=3>
        همان‌طور که احتمالاً دیده‌اید، این مجموعه‌داده دارای ۱۴ ویژگی/ستون است که به معرفی برخی از آن‌ها که مهم‌ترند می‌پردازیم. البته که شما باید تشخیص بدهید که در هر سوال کدام موارد به کار می‌آیند.
        <br>
       - ستون  <code>Country_Region</code>: مشخص است که نام کشور یا منطقه را مشخص می‌کند. دقت کنید که شاید لازم باشد بررسی کنید که آیا تعداد سطرها با تعداد کشورها برابر است و به بیان دیگر به ازای هر منطقه یا کشور فقط یک سطر دیتا وجود دارد یا خیر.
        <br>
        - ستون‌های <code>Long</code> و <code>Lat</code>: طول و عرض جفرافیایی کشور/منطقه را بیان می‌کند.
        <br>
        - ستون <code>Confirmed</code>: تعداد موارد تاییدشده‌ی ابتلا به ویروس
        <br>
        - ستون <code>Deaths</code>: تعداد موارد فوت‌شده
        <br>
        - ستون <code>Recovered</code>: تعداد موارد بهبودیافته
        <br>
        - ستون <code>Active</code>: تعداد موارد فعال (که از تفاضل مجموع فوتی‌ها و بهبودیافتگان از موارد تایید شده نیز به‌دست می‌آید.)
        <br>
        - ستون <code>Incident_Rate</code>: بیانگر تعداد موارد در هر ۱۰۰۰۰۰ نفر است.
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<b style="color:red">نکته‌:</b>
در هر سوال که از شما خواسته‌شده پاسخ را در قالب فایلی با فرمت <code>csv</code> ذخیره کنید، لازم نیست نام ستون‌ها را ذخیره کنید (به بیان دیگر لازم نیست  <code>header</code> داشته باشند).
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت اول‌
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
     در ابتدا می‌خواهیم ببینیم ۱۰ کشور با بیشترین تعداد موارد  کدام‌اند. برای این کار می‌توانیم از
ستون  <code>Incident_Rate</code> استفاده کنیم. البته برای این‌که به‌نوعی مجموع تقریبی موارد را از این ستون محاسبه کنیم می‌توانیم از متد <code>apply</code>  استفاده کنیم و ستونی جدید به نام <code>Total_Cases</code> اضافه کنیم که از حاصل ضرب ۱۰۰۰۰۰ در مقادیر ستون <code>Incident_Rate</code> توسط تابع <code>apply</code> به‌دست می‌آیند.
<br>
پاسخ شما باید دارای ۱۰ ردیف و ۲ ستون باشد که نام کشور/منطقه و <code>Total_Cases</code> را شامل می‌شود و آن را در فایلی به نام <code>top10cases.csv</code> ذخیره کنید. 
</font>
</p>

In [28]:
covid_data1['Total_Cases'] = covid_data1['Incident_Rate'].apply( lambda x : x * 100000)

In [29]:
group_by = covid_data1.groupby("Country_Region")['Total_Cases'].sum().reset_index()

In [9]:
Top_10_Cases = group_by.sort_values(by = 'Total_Cases' ,ascending = False )
Top_10_Cases = Top_10_Cases.head(10)
Top_10_Cases

    Country_Region   Total_Cases
185             US  1.060653e+12
146         Russia  1.084148e+10
24          Brazil  9.817550e+09
140           Peru  6.967909e+09
38        Colombia  6.661217e+09
166          Spain  5.766248e+09
36           Chile  4.348631e+09
86           Italy  3.359897e+09
187        Ukraine  3.171402e+09
80           India  3.116931e+09

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت دوم
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
در ادامه می‌خواهیم ببینیم چه کشورهایی بیشترین نرخ ریکاوری را داشته‌اند. بدین منظور قصد داریم شاخصی تعریف کنیم تحت عنوان <code>Recovery_Rate</code> که از حاصل تقسیم تعداد بهبودیافتگان به تعداد موارد تایید شده بدست می‌آید. البته در ابتدا قصد داریم کشورها/مناطقی که موارد تایید شده، فوت شده و بهبودیافته‌ی آن‌ها صفر گزارش شده است را درنظر نگیریم.
پس ردیف‌هایی که مقدار هر سه ستون <code>Confirmed</code>، <code>Deaths</code> و <code>Recovered</code> آن‌ها صفر است را از دیتافریم اصلی حذف کنید. سپس می‌خواهیم در بین کشورهایی که موارد تاییدشده به ابتلای آنها از میانه‌ی این شاخص بیشتر است ببینیم کدام‌شان نرخ ریکاوری بهتری دارد. بدین منظور در بین این کشورها، فهرست آنهایی که نرخ ریکاوری آنها از میانگین این نرخ برای همه کشورها بیشتر است را به صورت نزولی  
 در فایلی به نام <code>recovery_rate.csv</code> ذخیره کنید. پس فیلتر اولیه بر اساس میانه‌ی تعداد موارد تایید شده‌ی مبتلایان و فیلتر دوم بر اساس میانگین نرخ ریکاوری است.
<br>
توجه داشته باشید که فایل شما باید شامل دو ستون باشد که به ترتیب نام کشور/منطقه و نرخ ریکاوری باشد و ترتیب آن به صورت نزولی بر اساس نرخ ریکاوری.
</font>
</p>

In [30]:
covid_data2= covid_data.copy()

In [31]:
aggregated_data = covid_data2.groupby('Country_Region').agg({ 'Confirmed': 'sum', 'Deaths': 'sum', 'Recovered': 'sum', }) 
aggregated_df = aggregated_data.reset_index() 
aggregated_df

           Country_Region  Confirmed  Deaths  Recovered
0             Afghanistan      42297    1574    34954.0
1                 Albania      25294     579    12353.0
2                 Algeria      63446    2077    42626.0
3                 Andorra       5477      75     4405.0
4                  Angola      12816     308     6036.0
..                    ...        ...     ...        ...
195    West Bank and Gaza      59422     533    51425.0
196  Winter Olympics 2022          0       0        0.0
197                 Yemen       2063     601     1375.0
198                Zambia      16997     350    16019.0
199              Zimbabwe       8610     255     8040.0

[200 rows x 4 columns]

In [13]:
aggregated_df = aggregated_df[~((aggregated_df['Confirmed'] == 0) & 
                               (aggregated_df['Deaths'] == 0) & 
                               (aggregated_df['Recovered'] == 0))]
aggregated_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan      42297    1574    34954.0
1               Albania      25294     579    12353.0
2               Algeria      63446    2077    42626.0
3               Andorra       5477      75     4405.0
4                Angola      12816     308     6036.0
..                  ...        ...     ...        ...
194             Vietnam       1226      35     1087.0
195  West Bank and Gaza      59422     533    51425.0
197               Yemen       2063     601     1375.0
198              Zambia      16997     350    16019.0
199            Zimbabwe       8610     255     8040.0

[190 rows x 4 columns]

In [14]:
aggregated_df.loc[:, 'Recovery_Rate'] = aggregated_df['Recovered'] / aggregated_df['Confirmed'] 
aggregated_df

C:\Users\sahar\AppData\Local\Temp\ipykernel_13900\3381013426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aggregated_df.loc[:, 'Recovery_Rate'] = aggregated_df['Recovered'] / aggregated_df['Confirmed']

         Country_Region  Confirmed  Deaths  Recovered  Recovery_Rate
0           Afghanistan      42297    1574    34954.0       0.826394
1               Albania      25294     579    12353.0       0.488377
2               Algeria      63446    2077    42626.0       0.671847
3               Andorra       5477      75     4405.0       0.804272
4                Angola      12816     308     6036.0       0.470974
..                  ...        ...     ...        ...            ...
194             Vietnam       1226      35     1087.0       0.886623
195  West Bank and Gaza      59422     533    51425.0       0.865420
197               Yemen       2063     601     1375.0       0.666505
198              Zambia      16997     350    16019.0       0.942460
199            Zimbabwe       8610     255     8040.0       0.933798

[190 rows x 5 columns]

In [15]:
recovery_median = aggregated_df['Confirmed'].median()
recovery_mean = aggregated_df['Recovery_Rate'].mean()

filtered_data = aggregated_df[(aggregated_df['Confirmed'] > recovery_median) & 
                              (aggregated_df['Recovery_Rate'] > recovery_mean)]

fi = filtered_data[['Country_Region', 'Recovery_Rate']]
fi

           Country_Region  Recovery_Rate
0             Afghanistan       0.826394
7               Argentina       0.856964
9               Australia       0.805826
11             Azerbaijan       0.742061
13                Bahrain       0.971412
14             Bangladesh       0.805949
16                Belarus       0.846223
21                Bolivia       0.807485
24                 Brazil       0.905303
28                  Burma       0.749688
33                 Canada       0.809595
36                  Chile       0.954639
37                  China       0.882730
38               Colombia       0.848973
44                Croatia       0.780918
48                Denmark       0.743997
52     Dominican Republic       0.829438
53                Ecuador       0.881880
54                  Egypt       0.916884
55            El Salvador       0.873557
66                Georgia       0.744540
68                  Ghana       0.970407
71              Guatemala       0.910915
80                  India       0.927950
81              Indonesia       0.845601
82                   Iran       0.754590
83                   Iraq       0.860195
85                 Israel       0.960519
88                  Japan       0.891697
90             Kazakhstan       0.879445
94           Korea, South       0.908882
96                 Kuwait       0.930837
97             Kyrgyzstan       0.859323
117                Mexico       0.842441
118               Moldova       0.775505
122               Morocco       0.817796
126                 Nepal       0.803850
131               Nigeria       0.937780
134                  Oman       0.919636
135              Pakistan       0.919241
137                Panama       0.847171
140                  Peru       0.921110
141           Philippines       0.905366
144                 Qatar       0.978242
146                Russia       0.744340
154          Saudi Arabia       0.962516
159             Singapore       0.998485
164          South Africa       0.922918
183                Turkey       0.857625
188  United Arab Emirates       0.967559
191            Uzbekistan       0.958958
193             Venezuela       0.946713
195    West Bank and Gaza       0.865420

In [16]:
sorted_fi = fi.sort_values(by='Recovery_Rate', ascending=False)
sorted_fi

           Country_Region  Recovery_Rate
159             Singapore       0.998485
144                 Qatar       0.978242
13                Bahrain       0.971412
68                  Ghana       0.970407
188  United Arab Emirates       0.967559
154          Saudi Arabia       0.962516
85                 Israel       0.960519
191            Uzbekistan       0.958958
36                  Chile       0.954639
193             Venezuela       0.946713
131               Nigeria       0.937780
96                 Kuwait       0.930837
80                  India       0.927950
164          South Africa       0.922918
140                  Peru       0.921110
134                  Oman       0.919636
135              Pakistan       0.919241
54                  Egypt       0.916884
71              Guatemala       0.910915
94           Korea, South       0.908882
141           Philippines       0.905366
24                 Brazil       0.905303
88                  Japan       0.891697
37                  China       0.882730
53                Ecuador       0.881880
90             Kazakhstan       0.879445
55            El Salvador       0.873557
195    West Bank and Gaza       0.865420
83                   Iraq       0.860195
97             Kyrgyzstan       0.859323
183                Turkey       0.857625
7               Argentina       0.856964
38               Colombia       0.848973
137                Panama       0.847171
16                Belarus       0.846223
81              Indonesia       0.845601
117                Mexico       0.842441
52     Dominican Republic       0.829438
0             Afghanistan       0.826394
122               Morocco       0.817796
33                 Canada       0.809595
21                Bolivia       0.807485
14             Bangladesh       0.805949
9               Australia       0.805826
126                 Nepal       0.803850
44                Croatia       0.780918
118               Moldova       0.775505
82                   Iran       0.754590
28                  Burma       0.749688
66                Georgia       0.744540
146                Russia       0.744340
48                Denmark       0.743997
11             Azerbaijan       0.742061

In [17]:
sorted_fi.to_csv('recovery_rate.csv', index=True , header = False)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت سوم
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
اکنون می‌خواهیم اوضاع سایر کشورها را با کشور خودمان مقایسه‌ای کنیم! از این روی می‌خواهیم ببینیم کدام کشورها با وجود این‌که مبتلایان بیشتری از ما داشته‌اند، مرگ و میر کمتری ثبت کرده‌اند.
<br>
پاسخ را در فایلی به نام <code> vsiran.csv </code> ذخیره کنید. فایل پاسخ باید حاوی ۴ ستون باشد که نام کشور/منطقه، موارد تایید شده، موارد فوت‌شده و موارد بهبودیافته را به‌صورت نزولی بر اساس تعداد موارد تایید شده در بر داشته باشد.
</font>
</p>

In [32]:
covid_data3 = covid_data.copy()

In [33]:
aggregated_data2 = covid_data3.groupby('Country_Region').agg({ 'Confirmed': 'sum', 'Deaths': 'sum', 'Recovered': 'sum'}) 
aggregated_data2 = aggregated_data.reset_index() 
aggregated_data2

           Country_Region  Confirmed  Deaths  Recovered
0             Afghanistan      42297    1574    34954.0
1                 Albania      25294     579    12353.0
2                 Algeria      63446    2077    42626.0
3                 Andorra       5477      75     4405.0
4                  Angola      12816     308     6036.0
..                    ...        ...     ...        ...
195    West Bank and Gaza      59422     533    51425.0
196  Winter Olympics 2022          0       0        0.0
197                 Yemen       2063     601     1375.0
198                Zambia      16997     350    16019.0
199              Zimbabwe       8610     255     8040.0

[200 rows x 4 columns]

In [20]:
iran_data = aggregated_data2[aggregated_data2['Country_Region'] == 'Iran'].iloc[0]

filtered_data = aggregated_data2[(aggregated_data2['Confirmed'] > iran_data['Confirmed']) &
                                (aggregated_data2['Deaths'] < iran_data['Deaths'])]

In [21]:
sorted_data = filtered_data.sort_values(by='Confirmed', ascending=False)
sorted_data

    Country_Region  Confirmed  Deaths  Recovered
146         Russia    1802762   30899  1341868.0
7        Argentina    1262476   34183  1081897.0
38        Colombia    1155356   33128   980866.0
164   South Africa     740254   19951   683194.0

In [22]:
sorted_data.to_csv('vsiran.csv', index=True , header = False)


<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت چهارم
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
در ادامه می‌خواهیم ادعای سخنگوی وزارت بهداشت کشوری را ارزیابی کنیم که ادعا می‌کند کشورش با توجه به آمار فوتی‌هایشان در این روز، جزو ۲۰ درصد برتر جهان است (هنوز در آن زمان عبارتی مثل «کشورهای برتر یک درصد جهان» کشف نشده بود :) ).
<br>
ما تعداد مرگ‌های گزارش‌شده را به تنهایی کافی نمی‌دانیم و فرض کنید برای راستی‌آزمایی این ادعا می‌خواهیم از شاخص ساده‌ای چون <b style="color:#0099cc">نسبت تعداد متوفیان به مبتلایان</b> استفاده کنیم. البته برای اینکه اینقدر هم دیگر ساده نباشد (!)، می‌خواهیم کشورهایی که مبتلایان تایید شده‌ی کمی در این روز داشته‌اند را در نظر نگیریم و برای این کار ۲۰ درصد کشورهایی که کمترین مبتلایان را داشته‌اند را نیز کنار می‌گذاریم و سپس شاخص مربوطه را برای کشورهای باقی‌مانده لحاظ می‌کنیم.
<br>
مقدار شاخص را در ستونی به نام <code>death_ratio</code> ذخیره کرده و
فهرست ۲۰ درصد برتر را به همراه مقدار شاخص ذکر شده در فایلی به نام 
    <code>20percent.csv</code> ذخیره کنید.

</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<b style="color:orange">توجه:</b>
آن دسته از ردیف‌هایی که مقدار ستون <code>Confirmed</code> آن‌ها برابر صفر است را در نظر نگرفته و حذف کنید.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<b style="color:green">راهنمایی:</b>
دیتافریم حاصل شامل ۳۰ ردیف خواهد بود.
</font>
</p>

In [34]:
covid_data4 = covid_data.copy()

In [37]:


covid_data4 = covid_data4[covid_data4['Confirmed'] > 0]

df_grouped = covid_data4.groupby('Country_Region').agg({
    'Confirmed': 'sum',
    'Deaths': 'sum'
}).reset_index()

df_sorted = df_grouped.sort_values(by='Confirmed')

threshold = int(len(df_sorted) * 0.2)
df_filtered = df_sorted.iloc[threshold:]

df_filtered['death_ratio'] = df_filtered['Deaths'] / df_filtered['Confirmed']

df_filtered = df_filtered.sort_values(by='death_ratio', ascending=True)

top_20_percent = df_filtered.head(int(len(df_filtered) * 0.2))
top_20_percent = top_20_percent[['Country_Region', 'death_ratio']]
top_20_percent

C:\Users\sahar\AppData\Local\Temp\ipykernel_13900\545511092.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['death_ratio'] = df_filtered['Deaths'] / df_filtered['Confirmed']

           Country_Region  death_ratio
153             Singapore     0.000482
139                 Qatar     0.001730
161             Sri Lanka     0.002786
108              Maldives     0.003408
22               Botswana     0.003446
179  United Arab Emirates     0.003588
12                Bahrain     0.003949
45                 Cyprus     0.004428
154              Slovakia     0.004624
78                Iceland     0.004693
122                 Nepal     0.005747
71                 Guinea     0.005928
42          Cote d'Ivoire     0.006044
93                 Kuwait     0.006155
63                  Gabon     0.006313
67                  Ghana     0.006491
120            Mozambique     0.007126
107              Malaysia     0.007134
168            Tajikistan     0.007296
142                Rwanda     0.007602
97                Lebanon     0.007729
65                Georgia     0.008185
103            Luxembourg     0.008351
102             Lithuania     0.008366
84                 Israel     0.008413
182            Uzbekistan     0.008518
184             Venezuela     0.008738
186    West Bank and Gaza     0.008970
177                Uganda     0.009045
15                Belarus     0.009381